# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# Django
db.sqlite3
*.sqlite3

# Environment variables
.env
*.env

# Django migrations (不用忽略 migrations，本題不要)

# IDE
.vscode/
.idea/

# Mac / Windows
.DS_Store
Thumbs.db